body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image{
  display:flex;
}
.home {
  background-image: url(./images/pic.png);
  height: 1880px;
  size: auto;
  background-size: cover;
}

.navbar-expand-lg {
  background-color: lightblue;
}
.post-image {
    size: 20%;
    border-radius: 16px;
}
.navbar > li {
  padding-right: 10px;
}
.active {
  padding-right: 10px;
}